
@{
    ViewBag.Title = "STRATEGY E OPERATIONS ADVISORY";
}

<!-- services page intro start -->
<!-- MANINHO, A CLASSE overlay-black DEIXA A IMAGEM + ESCURA, SE QUISER IGUAL A ORIGINAL REMOVA ESSA CLASSE -->

<section id="firstSection" class="work-header section-img-100vh">
    <div class="bg-fixed overlay-black bg-image lazy" data-bg="url(/img/banners/3.jpg)">
        <div class="work-header-content">
            <h2 class="work-header-title text-white">
                <span class="slide-over">
                    STRATEGY &
                    OPERATIONS ADVISORY

                </span>
            </h2>
            <p class="work-header-text text-additional text-white">
                <span class="slide-over">Auditoria externa e interna, impostos, consultoria e assessoria empresarial, corporate finance, treinamentos, tecnologia.</span>
            </p>
        </div>
    </div>
</section>
<!-- services page intro end -->
<!-- services page main start -->
<div class="page-main">

    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-title-medium text-center">
                        <p class="text-additional subtitle">
                            STRATEGY &
                            OPERATIONS ADVISORY
                        </p>

                        <p class="section-text">

                            Buscamos contribuir para que as entidades desenvolvam seu potencial e sejam cada vem mais fortalecidas, competitivas e eficientes, por meio de fortalecimento do nível de governança, com um efetivo gerenciamento de riscos, melhoria de processos e controles internos e eficácia na gestão.

                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- card-group start -->
            <div class="card-group">
                <!-- row start -->
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/1.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Redução estratégica de custos
                                    </h4>
                             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/2.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Consultoria e análise em supply chain
                                    </h4>
                             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/3.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Planejamento e aumento de eficiência

                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/4.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Atendimento à Sarbanes Oxley


                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Atendimento ao compliance
                                    </h4>
                             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Revisão de processos

                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Gestão por metas e resultados
                                    </h4>
                            
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Redução de custos
                                    </h4>
                                 
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/1.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Maximização de receitas

                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/2.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Revisões de contratos
    
                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/3.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Implantação de lei anticorrupção
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/4.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Diagnóstico da cadeia de valor



                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Planejamento estratégico
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        S&OP – Planejamento de vendas e operações
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Strategic sourcing
                                    </h4>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Centro de serviços compartilhados

                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Orçamento base-zero

                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Gestão por indicadores
                                        </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Processos e controles para o terceiro setor
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    






                </div>
                <!-- row end -->
            </div>
            <!-- card-group end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->
    <!-- section start -->
    @*<section class="section-large bg-black">
            <!-- container start -->
            <div class="container">

                <!-- row start -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-medium text-center">
                            <p class="subtitle text-additional slide-up">skills</p>
                            <h2 class="text-white slide-up">our skills</h2>
                            <p class="section-text text-light-gray slide-up delay-1">
                                Dolor morbi non arcu risus quis varius quam quisque. Dui vivamus arcu felis bibendum. Fusce ut placerat orci nulla
                                pellentesque dignissim enim.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- row end -->
                <!-- skills start -->
                <div class="skills">
                    <!-- row start -->
                    <div class="row justify-content-center no-gutters">

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item slide-up delay-1">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="78"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Product branding</h4>
                                    <p class="skills-text text-light-gray">
                                        Duis at consectetur lorem donec massa sapien faucibus.
                                        Mattis vulputate enim nulla aliquet porttitor.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="100"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Graphic design</h4>
                                    <p class="skills-text text-light-gray">
                                        Nunc id cursus in fermentum metus aliquam eleifend.
                                        Rutrum quisque non tellus orci ac auctor augue.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="87"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Market research</h4>
                                    <p class="skills-text text-light-gray">
                                        Arcu cursus vitae congue mauris rhoncus.
                                        Nec feugiat in fermentum posuere urna nec tincidunt praesent.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- row end -->
                </div>
                <!-- skills end -->

            </div>
            <!-- container end -->
        </section>*@
    <!-- section end -->
    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title section-title-large text-center slide-up">
                        <p class="text-additional subtitle">Nossos</p>
                        <h2>Clientes</h2>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- clients start -->
                    <div class="clients">

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                    </div>
                    <!-- clients end -->
                </div>
            </div>
            <!-- row end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->

</div>
<!-- services page main end -->
