
@{
    ViewBag.Title = "Index";
}

<!-- services page intro start -->
<!-- MANINHO, A CLASSE overlay-black DEIXA A IMAGEM + ESCURA, SE QUISER IGUAL A ORIGINAL REMOVA ESSA CLASSE -->

<section id="firstSection" class="work-header section-img-100vh">
    <div class="bg-fixed overlay-black bg-image lazy" data-bg="url(/img/banners/3.jpg)">
        <div class="work-header-content">
            <h2 class="work-header-title text-white">
                <span class="slide-over">Nossos Serviços</span>
            </h2>
            <p class="work-header-text text-additional text-white">
                <span class="slide-over">Auditoria externa e interna, impostos, consultoria e assessoria empresarial, corporate finance, treinamentos, tecnologia.</span>
            </p>
        </div>
    </div>
</section>
<!-- services page intro end -->
<!-- services page main start -->
<div class="page-main">

    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-title-medium text-center">
                        <p class="text-additional subtitle">Nossos</p>
                        <h2> Serviços </h2>
                        <p class="section-text">
                            Nossa equipe qualificada e experiente, além de possuir mais de 20 anos de experiência de atuação, possui mestres formados no Brasil e no exterior.


                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- card-group start -->
            <div class="card-group">
                <!-- row start -->
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/AuditoriaInternaEExterna">
                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down">
                                    <!--<div class="card-img">
                <div class="bg-image lazy" data-bg="url(img/Services/1.jpg)"></div>
            </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Audit</h3>
                                        <p class="card-text">
                                            Ornare arcu odio ut sem nulla pharetra diam sit amet.
                                            At lectus urna duis convallis convallis tellus.

                                        </p>

                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/CORPORATEFINANCE">
                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-1">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/2.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Corporate Finance                                            </h3>
                                        <p class="card-text">
                                            At quis risus sed vulputate volutpat.
                                            Sed ullamcorper morbi tincidunt ornare massa.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/STRATEGYOPERATIONSADVISORY">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-2">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/3.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Strategy & Operations Advisory</h3>
                                        <p class="card-text">
                                            Pellentesque habitant senectus et netus et malesuada.
                                            Fringilla phasellus faucibus scelerisque.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/TAX">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/4.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">
                                            TAX
                                        </h3>
                                        <p class="card-text">
                                            Ac orci phasellus egestas tellus rutrum tellus.
                                            Pellentesque habitant morbi tristique.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/RISKADVISORY">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-1">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Risk Advisory</h3>
                                        <p class="card-text">
                                            Viverra aliquet tellus. Facilisis mauris sit amet massa.
                                            Ac orci egestas tellus rutrum tellus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/Technology">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-2">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Technology</h3>
                                        <p class="card-text">
                                            At lectus urna duis convallis convallis tellus.
                                            Ornare arcu nulla pharetra diam sit amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/Outsourcing">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-2">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Outsourcing</h3>
                                        <p class="card-text">
                                            At lectus urna duis convallis convallis tellus.
                                            Ornare arcu nulla pharetra diam sit amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="~/Servico/Trining">

                            <div class="card-outer">
                                <div class="card card-small card-hover bg-gray cover-down delay-2">
                                    <!--<div class="card-img">
                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                </div>-->
                                    <div class="card-content">
                                        <h3 class="card-title">Training</h3>
                                        <p class="card-text">
                                            At lectus urna duis convallis convallis tellus.
                                            Ornare arcu nulla pharetra diam sit amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </a>
                    </div>






                </div>
                <!-- row end -->
            </div>
            <!-- card-group end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->
    <!-- section start -->
    @*<section class="section-large bg-black">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title section-title-medium text-center">
                        <p class="subtitle text-additional slide-up">skills</p>
                        <h2 class="text-white slide-up">our skills</h2>
                        <p class="section-text text-light-gray slide-up delay-1">
                            Dolor morbi non arcu risus quis varius quam quisque. Dui vivamus arcu felis bibendum. Fusce ut placerat orci nulla
                            pellentesque dignissim enim.
                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- skills start -->
            <div class="skills">
                <!-- row start -->
                <div class="row justify-content-center no-gutters">

                    <div class="col-lg-4 col-md-6">
                        <div class="skills-item slide-up delay-1">
                            <div class="skills-chart-inner slide-up delay-1">
                                <div class="skills-chart" data-value="78"></div>
                            </div>
                            <div class="skills-content slide-up delay-2">
                                <h3 class="skills-title text-white">Product branding</h3>
                                <p class="skills-text text-light-gray">
                                    Duis at consectetur lorem donec massa sapien faucibus.
                                    Mattis vulputate enim nulla aliquet porttitor.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="skills-item">
                            <div class="skills-chart-inner slide-up delay-1">
                                <div class="skills-chart" data-value="100"></div>
                            </div>
                            <div class="skills-content slide-up delay-2">
                                <h3 class="skills-title text-white">Graphic design</h3>
                                <p class="skills-text text-light-gray">
                                    Nunc id cursus in fermentum metus aliquam eleifend.
                                    Rutrum quisque non tellus orci ac auctor augue.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="skills-item">
                            <div class="skills-chart-inner slide-up delay-1">
                                <div class="skills-chart" data-value="87"></div>
                            </div>
                            <div class="skills-content slide-up delay-2">
                                <h3 class="skills-title text-white">Market research</h3>
                                <p class="skills-text text-light-gray">
                                    Arcu cursus vitae congue mauris rhoncus.
                                    Nec feugiat in fermentum posuere urna nec tincidunt praesent.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row end -->
            </div>
            <!-- skills end -->

        </div>
        <!-- container end -->
    </section>*@
    <!-- section end -->
    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title section-title-large text-center slide-up">
                        <p class="text-additional subtitle">Nossos</p>
                        <h2>Clientes</h2>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- clients start -->
                    <div class="clients">

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                    </div>
                    <!-- clients end -->
                </div>
            </div>
            <!-- row end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->

</div>
<!-- services page main end -->
