
@{
    ViewBag.Title = "RISK ADVISORY";
}

<!-- services page intro start -->
<!-- MANINHO, A CLASSE overlay-black DEIXA A IMAGEM + ESCURA, SE QUISER IGUAL A ORIGINAL REMOVA ESSA CLASSE -->

<section id="firstSection" class="work-header section-img-100vh">
    <div class="bg-fixed overlay-black bg-image lazy" data-bg="url(/img/banners/3.jpg)">
        <div class="work-header-content">
            <h2 class="work-header-title text-white">
                <span class="slide-over"> RISK ADVISORY
                </span>
            </h2>
            <p class="work-header-text text-additional text-white">
                <span class="slide-over">Auditoria externa e interna, impostos, consultoria e assessoria empresarial, corporate finance, treinamentos, tecnologia.</span>
            </p>
        </div>
    </div>
</section>
<!-- services page intro end -->
<!-- services page main start -->
<div class="page-main">

    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title section-title-medium text-center">
                        <p class="text-additional subtitle">RISK ADVISORY</p>

                        <p class="section-text">
                            Os líderes das organizações entendem hoje que o risco é uma fonte de vantagem competitiva. Uma gestão de risco eficaz libera o potencial da empresa, criando e protegendo o valor para os agentes de mercado.



                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- card-group start -->
            <div class="card-group">
                <!-- row start -->
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/1.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco estratégico e de operação
                                    </h4>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/2.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Governança corporativa
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/3.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco estratégico
                                    </h4>
                           
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/4.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco de marca e reputação


                                    </h4>
                             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Gestão de crises
                                    </h4>
                             
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Sustentabilidade
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Estratégia, avaliação de riscos, reporte e asseguração
                                    </h4>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco financeiro
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/1.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco de crédito, de liquidez e de mercado

                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/2.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Gestão de capital

                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/3.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco do processo de fechamento contábil e elaboração de relatórios Financeiros
                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/4.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco regulatório

                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Estratégia regulatória
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Compliance regulatório
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Resposta regulatória
                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Risco operacional
     
                                    </h4>
                              
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-1">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/5.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Auditoria interna

                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Controles internos
                                    </h4>
                               
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Certificações de controles internos
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer">
                            <div class="card card-small card-hover bg-gray cover-down delay-2">
                                <!--<div class="card-img">
                                    <div class="bg-image lazy" data-bg="url(img/Services/6.jpg)"></div>
                                </div>-->
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Asseguração
                                    </h4>
                                
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
                <!-- row end -->
            </div>
            <!-- card-group end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->
    <!-- section start -->
    @*<section class="section-large bg-black">
            <!-- container start -->
            <div class="container">

                <!-- row start -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-medium text-center">
                            <p class="subtitle text-additional slide-up">skills</p>
                            <h2 class="text-white slide-up">our skills</h2>
                            <p class="section-text text-light-gray slide-up delay-1">
                                Dolor morbi non arcu risus quis varius quam quisque. Dui vivamus arcu felis bibendum. Fusce ut placerat orci nulla
                                pellentesque dignissim enim.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- row end -->
                <!-- skills start -->
                <div class="skills">
                    <!-- row start -->
                    <div class="row justify-content-center no-gutters">

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item slide-up delay-1">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="78"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Product branding</h4>
                                    <p class="skills-text text-light-gray">
                                        Duis at consectetur lorem donec massa sapien faucibus.
                                        Mattis vulputate enim nulla aliquet porttitor.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="100"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Graphic design</h4>
                                    <p class="skills-text text-light-gray">
                                        Nunc id cursus in fermentum metus aliquam eleifend.
                                        Rutrum quisque non tellus orci ac auctor augue.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="skills-item">
                                <div class="skills-chart-inner slide-up delay-1">
                                    <div class="skills-chart" data-value="87"></div>
                                </div>
                                <div class="skills-content slide-up delay-2">
                                    <h3 class="skills-title text-white">Market research</h4>
                                    <p class="skills-text text-light-gray">
                                        Arcu cursus vitae congue mauris rhoncus.
                                        Nec feugiat in fermentum posuere urna nec tincidunt praesent.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- row end -->
                </div>
                <!-- skills end -->

            </div>
            <!-- container end -->
        </section>*@
    <!-- section end -->
    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title section-title-large text-center slide-up">
                        <p class="text-additional subtitle">Nossos</p>
                        <h2>Clientes</h2>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- clients start -->
                    <div class="clients">

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/4.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-1">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/3.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-2">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/1.png" alt="Client">
                            </a>
                        </div>

                        <div class="slide-up delay-3">
                            <a href="services.html#" class="clients-item">
                                <img src="~/img/clients/2.png" alt="Client">
                            </a>
                        </div>

                    </div>
                    <!-- clients end -->
                </div>
            </div>
            <!-- row end -->

        </div>
        <!-- container end -->
    </section>
    <!-- section end -->

</div>
<!-- services page main end -->


