
@{
    ViewBag.Title = "Executivos | TATICCA - ALLINIAL GLOBAL";

}

<section id="firstSection" class="work-header section-img-100vh">
    <div class="bg-fixed overlay-black bg-image lazy" data-bg="url(/img/banners/3.jpg)">
        <div class="work-header-content">
            <h2 class="work-header-title text-white">
                <span class="slide-over">Executivos TATICCA</span>
            </h2>
            <p class="work-header-text text-additional text-white">
                <span class="slide-over">Conheça nossos especialistas</span>
            </p>
        </div>
    </div>
</section>

<!-- portfolio header end -->
<!-- section start -->
<!-- section end -->
<!-- img start -->
<!-- img end -->
<!-- section start -->
<section class="section-large bg-light">

    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="work-content slide-up">
                    <h2 class="work-title">Conheça nossos especialistas</h2>
                </div>
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6">
                <p class="work-text slide-up delay-1">
                    Nossa equipe qualificada e experiente, além de possuir mais de 20 anos de experiência de atuação, possui mestres formados no Brasil e no exterior.
                </p>
            </div>

            <div class="col-lg-6">
                <p class="work-text slide-up delay-1">
                    Scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset shee.
                </p>

            </div>
        </div>
        <!-- row end -->
        <!-- work-img start -->
        <div class="work-img-section" style="text-align: center">
            <!-- row start -->
            <div class="row justify-content-center">
                <!--Modal-->

                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <p>
                                Aderbal Alfonso Hoppe
                            </p>
                            <p>
                                Atua desde 1990 em contabilidade, auditoria independente e consultoria financeira e contábil em BRGAAP, USGAAP, IFRS e IPSAS. Sócio na TATICCA desde 2014, atuou na Actus Auditores de 1990 a 1995 e na EY Auditores de 1995 a 2014.
                            </p>
                            <p>
                                Formação<br />
                                Mestre em Ciências Contábeis e Atuarias pela PUC/São Paulo<br />
                                Pós-graduado em Gestão de Negócios pela UFPR/Curitiba<br />
                                Graduado em Ciências Contábeis pela FURB/Blumenau<br />
                                Certificado em Contabilidade Internacional pelo ACCA/UK<br />
                                Normas Internacionais de Auditoria pelo ACCA/UK<br />

                            </p>
                        </div>
                    </div>
                </div>
                <!--FIM DO MODAL-->
                <div class="col-lg-3 col-md-12">
                    <div class="work-img-long cover-down">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/aderbal.jpg)"></div>
                        <p class="work-text slide-up delay-1" ">Aderbal Alfonso Hoppe <br></p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id01').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>



                    </div>
                </div>
                <!--Modal-->

                <div id="id02" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <p>
                                Celso Roberto Hinkeldey
                            </p>
                            <p>
                                Iniciou carreira na Ernst & Young em 1995 e permaneceu nesta organização até 2014, atuando como sócio-diretor nos últimos 2 anos de EY. Também atuou na sede da EY de Londres por aproximadamente 2 anos (2004 – 2006).

                            </p>
                            <p>
                                Formação<br />
                                Graduado em Ciências Contábeis pela Universidade Regional de Blumenau<br />
                                Pós-Graduado em Finanças pela FAE Business School de Curitiba
                                <br />
                                MBA pela IBMEC em São Paulo
                                <br />


                            </p>
                        </div>
                    </div>
                </div>
                <!--FIM DO MODAL-->
                <div class="col-lg-3 col-md-12">
                    <div class="work-img-long cover-down delay-1">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/celso.jpg)"></div>
                        <p class="work-text slide-up delay-1">Celso Hinkeldey</p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green;"></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id02').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>
                <!--Modal-->

                <div id="id03" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <p>
                                Luis Carlos de Souza
                            </p>
                            <p>
                                Luis tem 24 anos de experiência como auditor independente, tendo atuado nos últimos 8 anos como sócio de auditoria na EY. Sólido conhecimento em auditoria e assessoria de companhias de diversos portes, incluindo familiares, de capital aberto e multinacionais.


                            </p>
                            <p>
                                Formação<br />
                                MBA em Gestão Empresarial. Fundação Getúlio Vargas. Concluído em agosto de 2005.

                                <br />
                                Bacharel em Ciências Contábeis pela Universidade Regional de Blumenau. Concluído em março de 1997.
                                <br />


                            </p>
                        </div>
                    </div>
                </div>
                <!--FIM DO MODAL-->
                <div class="col-lg-3 col-md-12">
                    <div class="work-img-long cover-down delay-2">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/luis.jpg)"></div>
                        <p class="work-text slide-up delay-1">Luis Carlos Souza</p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id03').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--Modal-->

                    <div id="id04" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p>
                                    Renato Mateus Gonçalves
                                </p>
                                <p>
                                    Renato atua desde 2000 em prestação de serviços financeiros. O portfólio de clientes atendidos por Renato abrange diversas empresas no Brasil, UE e EUA com receita entre $30 milhões à $10 bilhões. Foi executivo nas empresas Ernst & Young e Berkan Auditores.



                                </p>
                                <p>
                                    Formação<br />
                                    Sistemas da Informação pela Universidade Leonardo da Vinci

                                    <br />
                                    Ciências Contábeis pela Universidade do Sul de Santa Catarina
                                    <br />
                                    Qualificado no programa IFRS Accreditation e US Accreditation da EY
                                    <br />
                                    Certificado em IFRS pela ACCA - Association of Chartered Certified Accountants

                                    <br />
                                    Certificado Microsoft Office Excel Specialist Expert
                                    <br />
                                    Membro do IBRACON

                                </p>
                            </div>
                        </div>
                    </div>
                    <!--FIM DO MODAL-->
                    <div class="work-img-long cover-down delay-2">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/Renato.jpg)"></div>
                        <p class="work-text slide-up delay-1">Renato Mateus Gonçalves</p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id04').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="work-img-section" style="text-align: center">
            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-12">
                    <!--Modal-->

                    <div id="id05" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p>
                                    Ricardo Massera
                                </p>
                                <p>
                                    Atua há mais de 8 anos em contabilidade, consultoria e auditoria independente. Atualmente é sócio de auditoria e consultoria na Taticca. Ricardo atuou por aproximadamente 5 anos na EY e por 4 anos na Baker Tilly Brasil, sendo responsável por projetos voltados aos setores de Energia Elétrica, Automotivo, Químico, Agronegócio, terminais portuários e indústrias em geral.




                                </p>
                                <p>
                                    Formação<br />
                                    Graduado em Administração pela UFPR

                                    <br />
                                    Graduado em Ciências Contábeis pela UNISUL
                                    <br />
                                    Pós-graduando no MBA do Setor Elétrico pela FGV
                                    <br />


                                </p>
                            </div>
                        </div>
                    </div>
                    <!--FIM DO MODAL-->
                    <div class="work-img-long cover-down">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/ricardo.jpg)"></div>
                        <p class="work-text slide-up delay-1" ">Ricardo Massera <br></p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id05').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>



                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <!--Modal-->

                    <div id="id06" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p>
                                    Leopold Koenig
                                </p>
                                <p>
                                    Atua há mais de 21 anos em contabilidade e a 17 anos com consultoria tributária.





                                </p>
                                <p>
                                    Formação<br />
                                    Bacharel em Ciências Contábeis pela FURB/Blumenau

                                    <br />
                                    pós-graduado em Direito Tributário pela UNIVALI/Itajaí
                                    <br />


                                </p>
                            </div>
                        </div>
                    </div>
                    <!--FIM DO MODAL-->
                    <div class="work-img-long cover-down delay-1">

                        <div class="bg-image lazy" data-bg="url(/img/equipe/leopold.jpg)"></div>
                        <p class="work-text slide-up delay-1">
                            Leopold Koenig
                        </p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green;"></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id06').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <!--Modal-->

                    <div id="id07" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p>
                                    Maria Regina Branco
                                </p>
                                <p>
                                    Sócia Tributária, especialista em Tributação Internacional, na TATICCA, com experiência de mais de 12 anos em Tax Compliance e Tax Advisory, 11 dos quais na EY São Paulo.






                                </p>
                                <p>
                                    Formação<br />
                                    Graduação em Direito - Universidade Presbiteriana Mackenzie

                                    <br />
                                    Especialização em Direito Tributário – Faculdade de Direito da Universidade de São Paulo
                                    <br />


                                </p>
                            </div>
                        </div>
                    </div>
                    <!--FIM DO MODAL-->
                    <div class="work-img-long cover-down delay-2">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/regina.jpg)"></div>
                        <p class="work-text slide-up delay-1">
                            Maria Regina Branco
                        </p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id07').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--Modal-->

                    <div id="id08" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <p>
                                    Alexandre Pereira Schimmelpfeng

                                </p>
                                <p>
                                    Com mais de 20 anos de experiência em consultoria e auditoria. Iniciou sua carreira em 1998 na Ernst & Young. Desde 2014 está engajado com a prática de consultoria na TATICCA. Presta serviços de auditoria e consultoria, atua fortemente em auditoria interna, gestão de riscos e controles internos, revisão e melhoria de processos de forma geral e projetos de compliance (aderência), incluindo projetos relacionados a Lei Sarbanes Oxley.

                                </p>
                                <p>
                                    Formação<br />
                                    Bacharel em Administração de Empresas pelo Pontifícia Universidade Católica do Paraná - PUC/PR

                                    <br />
                                    CRA - Conselho Regional de Administração
                                    <br />
                                    CRMA - Certification in Risk Management Assurance (IIA Brasil, 10.936)



                                </p>
                            </div>
                        </div>
                    </div>
                    <!--FIM DO MODAL-->
                    <div class="work-img-long cover-down delay-2">
                        <div class="bg-image lazy" data-bg="url(/img/equipe/alexandre.jpg)"></div>
                        <p class="work-text slide-up delay-1">
                            Alexandre Pereira Schimmelpfeng
                        </p>
                        <i class="fa fa-whatsapp" style="font-size: 27px;  color: green; "></i>
                        <i class="fa fa-phone-square" style="font-size: 27px; margin-left: 10PX; color: lightseagreen;"></i>
                        <i class="fa fa-linkedin-square" style="font-size: 27px; margin-left: 10PX; color: blue;"></i>
                        <div class="w3-container" style="padding-bottom: 0px;">

                            <button onclick="document.getElementById('id08').style.display = 'block'" class="w3-button w3-blue">Ver Informações</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- work-img end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->
<!-- video start -->
<div class="section-img-100vh bg-black overlay-black">
    <div class="bg-image lazy" data-bg="url(/img/video/capavideo.jpg)">
        <!-- video start -->
        <div class="video">
            <button class="video-link text-white">
                <i class="icon-triangle"></i>
            </button>
            <div class="video-inner">
                <iframe src="https://www.youtube.com/embed/9TGlc0Fufgk"></iframe>
            </div>
        </div>
        <!-- video end -->
    </div>
</div>
<!-- video end -->
<!-- section start
<section class="section-large bg-light">
    <!-- container start 
<div class="container">

    <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-10">
            <div class="work-content">
                <h2 class="work-title slide-up">nibh cras pulvinar mattis nunc</h2>
            </div>
        </div>
        <div class="col-lg-10">
            <p class="work-text slide-up delay-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>

    <div class="work-img-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="work-img-wide cover-down">
                    <div class="bg-image lazy" data-bg="url(img/Portfolio\ Page/Page/4.jpg)"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-30">
                <div class="work-img-square cover-down delay-1">
                    <div class="bg-image lazy" data-bg="url(img/Portfolio\ Page/Page/5.jpg)"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-30">
                <div class="work-img-square cover-down delay-2">
                    <div class="bg-image lazy" data-bg="url(img/Portfolio\ Page/Page/6.jpg)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container end
</section> -->
<!-- section end -->
<!-- section start -->

<!-- section end -->

@section js{
<script>
    $(function () {
        $('.w3-modal').click(function () {
            $(this).fadeOut('fast');
        });
    })
    </script>
    }