
@{
    ViewBag.Title = "Index";
}

<!-- about page intro start -->
<!-- MANINHO, A CLASSE overlay-black DEIXA A IMAGEM + ESCURA, SE QUISER IGUAL A ORIGINAL REMOVA ESSA CLASSE -->
<section id="firstSection" class="page-header section-80vh overlay-black bg-image" style="background-image: url('/img/banners/3.jpg');">
    <!-- container intro start -->
    <div class="container">
        <!-- row intro start -->
        <div class="row">
            <div class="col-lg-9">
                <h1 class="page-header-title text-white">
                    <span class="slide-over">Sobre Nós</span>
                </h1>
                <p class='page-header-text text-lead text-white'>
                    <span class="slide-over">
                        Um novo momento, um novo visual
                    </span>
                </p>
            </div>
        </div>
        <!-- row intro end -->
    </div>
    <!-- container intro end -->
    <!-- bottom-left-links start -->
    <div class="bottom-left-links">
        <div class="">
            <a href="about.html#" class="link text-white">Behance</a>
        </div>
        <div class="">
            <a href="about.html#" class="link text-white">FaceBook</a>
        </div>
        <div class="">
            <a href="about.html#" class="link text-white">Twitter</a>
        </div>
    </div>
    <!-- bottom-left-links end -->
</section>
<!-- about page intro end -->
<!-- about page main start -->
<div class="page-main">
    <!-- section start -->
    <section class="section-large bg-light">
        <!-- container start -->
        <div class="container">

            <!-- row start -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title section-title-medium text-center slide-up">
                        <p class="text-additional subtitle">Taticca</p>
                        <h2>Informações</h2>
                    </div>
                </div>
            </div>
            <!-- row end -->
            <!-- steps start -->
            <div class="steps">
                <!-- row start -->
                <div class="row justify-content-center no-gutters">

                    <div class="col-lg-4 col-md-6">
                        <div class="steps-outer slide-up">
                            <div class="steps-item cursor-color">
                                <div class="steps-content">
                                    <h3 class="steps-title">Missão</h3>
                                    <p class="steps-text">
                                        Prestar serviços de altíssima qualidade a valores justos e com foco na identificação de valor adicional para nossos clientes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="steps-outer slide-up delay-1">
                            <div class="steps-item cursor-color">
                                <div class="steps-content">
                                    <h3 class="steps-title">Compromisso</h3>
                                    <p class="steps-text">
                                        Prestar serviços integrados com rapidez, pontualidade e qualidade é nosso maior compromisso.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="steps-outer slide-up delay-2">
                            <div class="steps-item cursor-color">
                                <div class="steps-content">
                                    <h3 class="steps-title">Valores</h3>
                                    <p class="steps-text">
                                        Atendimento ao cliente com ética, responsabilidade e seriedade na prestação de serviços.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- steps end -->
        </div>
        <!-- container end -->
    </section>
    <!-- section end -->

    <section id="timeline" class="timeline">
        <div class="container">
            <div class="container">
                <div id="demo1">
                    <div data-year="1968" class="active">Fundação da Allinial Global em Atlanta</div>
                    <div data-year="2014">1º Escritório no Brasil, na cidade de São Paulo</div>
                    <div data-year="2015">Filiação da TATICCA a Allinial Global</div>

                    <div data-year="2016">Abertura dos escritórios de Blumenau e Curitiba</div>
                    <div data-year="2017">Abertura dos escritórios de Porto Alegre e Brasilia</div>
                    <div data-year="2018">Abertura do escritório do Rio de Janeiro e Belo Horizonte</div>
                    <div data-year="2019">Plena expansão das atividades e serviços.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="services maping sec-normal sec-grad-grey-to-grey" style="background: linear-gradient(-60deg, #3a6173 0%, #16222a 100%) !important; padding:80px 0px; color:#fff">
        <div class="container">
            <div class="service-wrap">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="section-heading text-white" style="font-family: 'Open Sans';font-size: 32px;margin-top: 0px;margin-bottom: 10px;position: relative;display: inline-block;color: #fff;line-height: 34px;">
                            A TATICCA é firma membro da ALLINIAL GLOBAL
                        </h2>
                        <p class="section-subheading" style="color:#808080; font-size:16px">
                            <span class="golink">
                                Aliança Global
                            </span>
                            de Entidades Independentes de Auditoria. Essa
                            aliança
                            <span class="golink">
                                permite
                            </span>
                            atender melhor nossos clientes, localmente e internacionalmente.
                        </p>
                    </div>
                    <div class="col-md-12 pt-5">
                        <img src="~/img/map.svg" alt="Load Balancing" />
                        <div id="section-subheadingdynamic" class="golink" data-top="17.6" data-left="81" style="font-size: 16px; height: 20px; top: 17.6%; position: absolute; font-size: 46px; left: 81%;"></div>
                        <span data-toggle="popover" data-top="79" data-left="29.4" style="width: 20px;height: 20px;top: 79%;position: absolute;left: 29.4%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+20 anos de experiência"></span>
                        <span data-toggle="popover" data-top="75.5" data-left="31" style="width: 20px;height: 20px;top: 75.5%;position: absolute;left: 31%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="Parcerias Estratégicas"></span>
                        <span data-toggle="popover" data-top="79.6" data-left="32.3" style="width: 20px;height: 20px;top: 79.6%;position: absolute;left: 32.3%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+100 profissionais especialistas"></span>
                        <span data-toggle="popover" data-top="38" data-left="28.5" style="width: 20px;height: 20px;top: 38%;position: absolute;left: 28.5%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="10º auditoria e consultoria"></span>
                        <span data-toggle="popover" data-top="55" data-left="46.1" style="width: 20px;height: 20px;top: 55.4%;position: absolute;left: 46.1%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+10 mil consultores"></span>
                        <span data-toggle="popover" data-top="32.5" data-left="59" style="width: 20px;height: 20px;top: 32.5%;position: absolute;left: 59%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+2.5b Vendas"></span>
                        <span data-toggle="popover" data-top="42" data-left="72" style="width: 20px;height: 20px;top: 42%;position: absolute;left: 72%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+ 1.500 Sócios"></span>
                        <span data-toggle="popover" data-top="21" data-left="81" style="width: 20px;height: 20px;top: 21.6%;position: absolute;left: 81%;border-radius: 50%;background: #53c1ab;" data-trigger="hover" data-placement="top" title="" class="popover datacenters montreal" data-original-title="Montreal" data-content="+50 Países"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-img-100vh bg-black overlay-black">
        <div class="bg-image lazy" data-bg="url(/img/video/capavideo.jpg)">
            <!-- video start -->
            <div class="video">
                <button class="video-link text-white">
                    <i class="icon-triangle"></i>
                </button>
                <div class="video-inner">
                    <iframe width="100%" src="https://www.youtube.com/embed/mnAsr58InQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
            </div>
            <!-- video end -->
        </div>
    </div>
</div>
<!-- about page main end -->
